1DAM/Lenguaje de marcas (web)/Tercer trimestre/Ejercicios_Hoja_6/Ejercicio1y2/facturas.dtd

<!ELEMENT facturas(factura*)>
<!ELEMENT factura (num_fac, cod_cliente, articulo+)>
<!ELEMENT articulo(cod_articulo,nom_articulo,cantidad,precio)>
<!ELEMENT num_fac(#PCDATA)>
<!ELEMENT cod_cliente(#PCDATA)>
<!ELEMENT cod_articulo(#PCDATA)>
<!ELEMENT nom_articulo(#PCDATA)>
<!ELEMENT cantidad(#PCDATA)>
<!ELEMENT precio(#PCDATA)>
<!ATTLIST factura facturaID CDATA #REQUIRED>
